VITE_REACT_APP_BASE_URL=http://192.168.1.115:8080
REACT_APP_ASSETS_BUCKET=https://lightence-assets.s3.amazonaws.com

# more info https://create-react-app.dev/docs/advanced-configuration
ESLINT_NO_DEV_ERRORS=
TSC_COMPILE_ON_ERROR=

#DISABLE_ESLINT_PLUGIN=true