
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
    --trans_wrapper: 30vh;
  }
  
  .transBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right,#4E65FF , #92EFFD);
    /* background-image: linear-gradient(to right,#C33764  , #1D2671); */
    /* background-image: linear-gradient(to right,#EA8D8D , #A890FE); */
    /* background: url(../Asset/tech1.png); */
  
  }



.submit_money_2:hover
{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);

}
.submit_money_2{
  width: 348px;
  height: 60px;
  box-shadow: 0 0 10px 0 0.4 black;
  position: absolute;
  right: 35px;
  top: 150px;
  border-radius: 40px;
  color: black;
  font-size: 15px;
  font-weight: 600;
}