
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.infoBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right,#4E65FF , #92EFFD);
    /* background: url(../Asset/tech1.png); */
  }

  .register-link2 p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    padding-left: 40%;
    /* padding-top: 60%; */

}
.register-link2 p a:hover {
    text-decoration: underline;
}